@defer{

  <div class="flex flex-col md:flex-row sm:flex-col w-full min-w-full  border-b-2 border-r-2 border-slate-900 rounded place-content-between mt-2"
  >
    <div class="flex flex-col px-2 mx-auto text-wrap ">
      <h3 [class]="titleCSS" [ngClass]="{'line-through': task.completed}">{{task.title}}</h3>
      <hr>
      <p class="flex row-auto min-w-96 xl:max-w-screen-lg lg:max-w-screen-md  md:max-w-screen-sm  overflow-clip hover:overflow-x-scroll text-left"
        [ngClass]="{'line-through': task.completed}">{{task.description}}</p>
    </div>
    <div class="flex align-middle justify-around self-center lg:self-end sm:self-center">

      <button [class]="completedButtonCSS"
      [ngClass]="{
        'hover:bg-blue-500 text-blue-700 border-blue-500': task.completed,
        'hover:bg-green-500 text-green-700 border-green-500': !task.completed,
      }" (click)="toggleCompleted(task.id)"
      >{{ task.completed ? 'No completada': 'Completada' }}</button>

      <button class="bg-white-500 font-semibold hover:text-white py-2 px-4 border hover:border-transparent rounded m-2" (click)="edit(task.id)"
      [ngClass]="{
        'hover:bg-purple-500 text-purple-700 border-purple-500': task.completed,
        'hover:bg-yellow-500 text-yellow-700 border-yellow-500': !task.completed,
      }">Editar</button>

      <button class="bg-white-500 hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded m-2" (click)="delete(task.id)"
      >Eliminar</button>

    </div>

  </div>

}
